*{
    box-sizing: border-box;
}
body{
    width: 80%;
    max-width: 900ox;
    margin: auto;
}
 
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "h h h"
        "n n n"
        "a a a"
        "f f f"
    ;
}
 
header{
    background-color: orange;
            grid-area: h;
}
nav li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul{
    padding-left: 0;
}
 
nav{
    background-color: brown;
        grid-area: n;
}
nav li:hover{
    background-color: darkorange;
}
nav li:hover a{
    color: white;
}
article{
    background-color: greenyellow;
    grid-area: a;
}
 
 
footer{
background-color: blue;
grid-area: f;
}
@media screen and (max-width: 600px){
    body {
        width: 100%;
    }
    main{
        grid-template-areas:
            "h h h"
            "n n n"
            "a a a"
            "f f f"
        ;
        grid-template-columns: 1fr;
    }
    
}